*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(48, 49, 97);
}

div{
    float: left;
    background-color: rgb(223, 186, 20);
}

h1{
    text-align: center;
}

#div-Head{
    width: 100%;
    background-color: rgb(0, 225, 255);
    padding-top: 15px;
    padding-bottom: 15px;
}

#div-Body{
    width: 100%;
}

.DivLongue{
    width: 100%;
}

#Menu{
    background-color: blueviolet;
    width: 175px;
    height: 500px;
}

    h1.centrageMenu{
        padding-top: 200px;
    }


p.exo2a {
    font-size: 30px;
    color: red;
}
    
p.exo1a {
    font-size: 20px;
    color: blue;
}

h1.centrage{
    padding-top: 150px;
}

#div-Footer{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(0, 250, 175);
}